@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  /* Black scale (de más oscuro a menos oscuro) */
  /* --color-custom-black-900: #111827;
  --color-custom-black-800: #1f2937;
  --color-custom-black-700: #374151; */
  --color-custom-black-900: #000000; /* negro absoluto */
  --color-custom-black-800: #111111;
  --color-custom-black-700: #1a1a1a;

  /* Golden scale (de más oscuro a más claro) */
  --color-custom-golden-700: #e17100; /* más oscuro */
  --color-custom-golden-600: #fd9a00; /* medio */
  --color-custom-golden-500: #f59e0b; /* medio claro */
  --color-custom-golden-100: #fef3c7; /* muy claro */

  /* Gray scale (de más oscuro a más claro) */
  --color-custom-gray-800: #333333;
  --color-custom-gray-600: #666666;
  --color-custom-gray-500: #888888;
  --color-custom-gray-300: #dddddd;
  --color-custom-gray-200: #e5e7eb;
  --color-custom-gray-100: #f5f5f5;

  /* White scale (de más puro a más suavizado) */
  --color-custom-white-100: #ffffff;
  --color-custom-white-50: #fafafa;
}

html {
  scroll-behavior: smooth;
}
